<head>
  <meta charset="utf-8" />
  <title>Create a table</title>
  <script src="index.js"></script>
  <style type="text/css">
    
    body {
      margin: 30px;
    }
  </style>
</head>
<body>
  <table id="myTable" border="1"></table>
  <form>
    <input type="button" onclick="createTable()" value="Add Item" />
  </form>
</body>
